h1{
    font-family: 'Girassol', cursive;
    margin-bottom: 20px;
}

#history{
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

/* make responsive */

@media(max-width: 500px){
    #history{
        width: 95%;
        overflow:scroll;
        -webkit-overflow-scrolling: touch;
    }
}
