/* style the home page */

body{
	background: url(../images/landing-bg.jpg) center center/cover;
}

.row, .col{
    margin: 0px;
}

.fb-body{
    margin-top: 6%;
}

#intro1{
	font-family:verdana;
	font-size:20px;
    color:#142170;
    margin-bottom: 30px;
    text-align: center;
}

#intro2{
	font-family:verdana;
	font-size:30px;
	color:#000;
	font-weight:bold;
	height:75px;
}

#img2{
	text-align: center;
}

#intro3{
	font-family:verdana;
	font-size:18px;
	color:#000;
	height:50px;
}

.namebox{
	width:200px;
	height:40px;
	border-radius:5px 5px 5px 5px;
	background:white;
	padding:10px;
	font-size:18px;
	margin-top:8px;
	border-width: 1px;
	border-style:solid;
	border-color: gray;
}

.inputbox{
	width:408px;
	height:40px;
	border-radius:5px 5px 5px 5px;
	background:white;
	padding:10px;
	font-size:18px;
	margin-top:8px;
	border-width: 1px;
	border-style:solid;
	border-color: gray;
}

.selectbox{
	width:200px;
	height:40px;
	border-radius:5px 5px 5px 5px;
	background:white;
	padding:5px;
	font-size:18px;
	margin-top:8px;
	border-width: 1px;
	border-style:solid;
	border-color: gray;
}

.button2{
	width:250px;
	height:40px;
	left:750px;
	top:625px;
	background:green;
	font-family:verdana;
	font-size:18px;
	color:white;
	border-radius:5px 5px 5px 5px;
	border-width: 1px;
	border-style:solid;
	border-color: gray;
	cursor:pointer;
	outline:none;
}

#intro4{
	font-family:verdana;
	font-size:12px;
	color:gray;
	
}

/* responsive style to home page */

@media(max-width: 500px){
	#img2 img{
		width: 280px;
	}
	
	.inputbox, .namebox, .selectbox, .button2{
		width: 100%;
	}

	#intro1{
		margin-bottom: 10px;
	}

	#intro2{
		font-size: 28px;
	}
}